<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverType" value="Chrome"/>
    <add key="DriverPath" value="\..\..\Course2\Resources\Driver\"/> 
    <add key="HomePagePath" value="\..\..\Course2\Resources\Pages\homepage.html"/>    
    <add key="CarPhotoPath" value="\..\..\Course2\Resources\Photo\car.jpeg"/>
    <add key="ReportFilesFolderPath" value="..\..\Course2\Reports\Results\ReportFiles\"/>
    <add key="ScreenshotsFolderPath" value="..\..\Course2\Reports\Results\Screenshots\"/>
  </appSettings>
</configuration>