<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HomepageURL" value="file:///C:/Users/ssoptirean/Desktop/PagesTest/homepage.html"/>
    <add key="DashboardURL" value="file:///C:/Users/ssoptirean/Desktop/PagesTest/dashboardpage.html"/>
  </appSettings>
</configuration>