<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HOME_PAGE_URL" value="file:///C:/ralucastreja/CSharpAutomationOthers/Pages/homepage.html"/>
    <add key="DASHBOARD_PAGE_URL" value="file:///C:/ralucastreja/CSharpAutomationOthers/Pages/dashboardpage.html"/>
  </appSettings>
</configuration>
