<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriver" value="C:\Users\tfoldi\Desktop\Endava Trainings\CSharpAutomationtraining\C#Training\CSharpAutomationTraining\CSharpAutoTraining\Drivers\"/>
    <add key="URL" value="C:\Users\tfoldi\Desktop\Endava Trainings\CSharpAutomationtraining\Pages\homepage.html"/>
  </appSettings>
</configuration>