<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BrowserType" value="Chrome"/>
    <!--Chrome,Firefox-->
    <add key="DriverPath" value="\..\..\Resources\Driver\"/>
    <add key="HomePagePath" value="\..\..\Resources\Pages\homepage.html"/>
    <add key="CarPhotoPath" value="\..\..\Resources\Photo\car.jpeg"/>
    <add key="ReportFilesFolderPath" value="..\..\Resources\Reports\Results\ReportFiles\"/>
    <add key="ScreenshotsFolderPath" value="..\..\Resources\Reports\Results\Screenshots\"/>
  </appSettings>
</configuration>