<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Chrome,Firefox,Edge-->
    <add key="BrowserType" value="Chrome" />
    <!--Y,N-->
    <add key="ChromeHeadless" value="N"/>
    <add key="DriverPath" value="\..\..\Resources\Driver\" />   
    <add key="HomePagePath" value="\..\..\Resources\Pages\homepage.html" />
    <add key="CarPhotoPath" value="\..\..\Resources\Photo\car.jpeg" />
    <add key="ReportFilesFolderPath" value="..\..\Resources\Reports\Results\ReportFiles\" />
    <add key="ScreenshotsFolderPath" value="..\..\Resources\Reports\Results\Screenshots\" />
    <add key="FirstLevelTestFolder" value="..\..\Courses\Course4\TestFolder"/>
    <add key="SecondLevelTestFolder" value="..\..\Courses\Course4\TestFolder\TestFolder2"/>
    <!--Y,N-->
    <add key="SendReportEmail" value="N"/>
  </appSettings>
</configuration>